.task-page-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
}

.task-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.task-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.task-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task-button:hover {
  background-color: #0056b3;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.task-select {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}
.task-actions {
  display: flex;
}

.task-edit-button,
.task-delete-button {
  padding: 5px 10px;
  margin-left: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task-edit-button {
  background-color: #28a745;
  color: white;
}

.task-state-label {
  font-weight: bold; /* Pone el texto en negrita */
  color: #2c3e50;    /* Cambia el color del texto */
  font-size: 1.1em;  /* Aumenta un poco el tamaño de la fuente */
}

.task-edit-button:hover {
  background-color: #218838;
}

.task-delete-button {
  background-color: #dc3545;
  color: white;
}

.task-delete-button:hover {
  background-color: #c82333;
}
